/* Global */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v11/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v11/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
}

html {
  font-size: 18px;
  font-family: 'Monserrat', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 32px;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}

h4 {
  margin-bottom: 24px;
}

button {
  font-size: 1.2em;
  background: orange;
  width: 80%;
  padding: 8px 0;
  color: blue;
}

nav {
  display: flex;
  height: 64px;
}

nav li {
  list-style: none;
  display: flex;
  padding: 24px 8px;
  justify-content: space-between;
}

nav li:last-child {
  margin-right: 16px;
}

footer {
  padding: 32px 0;
}

img, video {
  width: 100%;
  height: auto;
}

.navigation {
  align-items: center;
}

/* BEGIN - Mobile Screen Section */

/* Mobile - Header Section */

.desktop {
  display: none;
}

.mobile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}

/* Mobile - Banner Section */

.banner {
  width: 100%;
  height: 180px;
  background: url('../images/banner.jpg');
  background-size: cover;
}

.banner img {
  display: none;
}

.start-here {
  padding: 32px 16px;
}

/* Mobile - Information Section */

.info-detail {
  display: none;
}

.information {
  padding: 16px 16px 32px;
}

.information-text {
  padding: 8px 16px;
}

.information-text h3, .information-text p {
  margin-bottom: 8px;
}

/* Mobile - Courses Section */

.courses {
  padding: 32px 16px;
}

.courses h2, .exhib-details h2 {
  text-align: center;
  width: 100%;
  padding-bottom: 16px;
}

.courses img, .courses .course-info p {
  display: none;
}

.course-info > h3 {
  padding: 16px;
  background: rgb(180, 180, 180);
  margin-bottom: 8px;
}

/* Mobile - These Exhibits Section */

.recent-exhibs, .exhib-vid h3, .exhib-vid p {
  display: none;
}

.exhib-details h2 {
  padding: 32px 0;
}

/* Mobile - Footer Section */

.page-bottom li, .page-bottom a {
  display: none;
}

.page-bottom {
  font-size: 0.8rem;
  margin-left: 24px;
}

/* BEGIN - Desktop Screen Section */

@media only screen and (min-width: 640px) {

/* Desktop - Header and Logo Section */

nav a {
  color: black;
}

.desktop {
  display: flex;
  margin-left: 24px;
  padding-left: 0;
  width: 100%;
  }

.logo {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex: 1;
  }

.logo a {
  display: flex;
  align-items: center;
  }

.logo img {
 height: 36px;
  }

.logo span {
  font-weight: 700;
  }

.mobile {
  display: none;
  }

/* Desktop - Jumbotron - Banner Section */

.banner {
  background: none;
  height: auto;
  width: 60%;
  padding: 32px 24px;
  }

.banner img {
  display: flex;
  width:100%;
  }

.learn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(180, 180, 180);
  width:100%;
  }

.start-here {
  padding: 32px 0;
  display: inline-block;
  width:30%;
  }

.start-here button:hover {
  color: white;
  background-color: lightblue;
  transition: all 500ms;
  }

.start-here h1 {
  font-size: 2.5rem;
  }

/* Desktop - Information Section */

.information {
  display: flex;
  flex-direction: row;
  padding: 0;
  }

.info-detail {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 32px 24px;
  }

.info-detail img {
   display: flex;
   width: 100%;
 }

.info-detail h2 {
  margin-top: 32px;
  margin-bottom: 24px;
  }

.info-sections {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  }

.info-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(180, 180, 180);
  max-width: 423px;
  }

.info-image img {
  width: 35%;
  height:auto;
  overflow: hidden;
  margin: 16px 16px;
  }

.information-boxes div:first-child {
  margin-top: 16px;
  }

.information div:nth-child(n+2) {
  border-top: none;
  }

.information div:nth-child(n+3) {
  background-color: rgb(180, 180, 180);
  }

.information-boxes {
  border-left: 1px solid rgb(180, 180, 180);
  padding-bottom: 32px;
  }

/* Desktop - Start Learning - Courses Section */

.courses img, .courses .course-info p {
  display: flex;
}

.courses {
  background-color: rgb(180, 180, 180);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 16px;
  }

.course-info h3, .course-info {
  background-color: white;
  }

.course-info p {
  padding: 0 16px 8px;
  }

.course-info p:last-child {
  padding: 0 16px 24px;
  }

.course-title {
  width: 350px;
  margin-right: 32px;
  margin-bottom: 24px;
  }

.course-info {
  height: 160px;
  }

/* Desktop - Thesis Exhibit Section */

.recent-exhibs {
  display: block;
  }

.exhib-container {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  margin-bottom: 32px;
  border-bottom: rgb(240, 240, 240);
  }

.exhib-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  max-width: 423px;
  height: 168px;
  }

.exhib-box img {
  width: 35%;
  margin-right: 16px;
  }

.exhib-info {
  display: flex;
  flex-direction: column;
  }

.exhib-box:first-child {
  background: rgb(180, 180, 180);
  }

.exhib-vid {
  margin-right: 24px;
  width: 60%;
  }

.exhib-vid h3, .exhib-vid p {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  }

/* Desktop - Footer Section */

.page-bottom {
  display: flex;
  border-top: 1px solid rgb(240, 240, 240);
  font-size: 0.9rem;
  justify-content: space-between;
  margin-right: 24px;
  }

.page-bottom li, .page-bottom a {
  list-style: none;
  display: inline-block;
  color: black;
  }
}
