/* Global */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v11/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v11/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 18px;
  font-family: 'Monserrat', sans-serif;
}

a {
  text-decoration: none;
}

footer {
  padding-top: 32px;
}

nav {
  display: flex;
  height: 64px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 32px;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}

h4 {
  margin-bottom: 24px;
}

nav li {
  list-style: none;
  display: flex;
  padding: 24px 8px;
  justify-content: space-between;
}

nav li:last-child {
  margin-right: 16px;
}

nav li a {
  color: black;
}


img, video {
  width: 100%;
  height: auto;
}

.navigation {
  align-items: center;
}

/* Header and Logo Section */

.desktop {
  display: flex;
  margin-left: 24px;
  padding-left: 0;
  width: 100%;
}

.logo {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex: 1;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo img {
 height: 36px;
}

.logo span {
  font-weight: 700;
}

.mobile {
  display: none;
}

/* Jumbotron - Banner Section */

.banner {
  background: none;
  height: auto;
  width: 60%;
  padding: 32px 24px;
}

.banner img {
  display: flex;
  width:100%;
}

button {
  font-size: 1.2em;
  background: orange;
  width: 50%;
  padding: 8px 0;
  color: blue;
}

.learn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(180, 180, 180);
  width:100%;
}

.start-here {
  padding: 32px 0px;
  display: inline-block;
  width:30%;
}

.start-here:hover {
  font-weight: 700;
}

.start-here button:hover {
  color: white;
  background-color: lightblue;
  transition: all 500ms;
}

.start-here h1 {
  font-size: 2.5rem;
}

/* Information Section */

.information {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.info-detail {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 32px 24px;
}

.info-detail img {
   display: flex;
   width: 100%;
}

.info-detail h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.info-sections {
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

.orientation, .campus, .guest-lectures {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(180, 180, 180);
  max-width: 423px;
}

.orientation img, .campus img, .guest-lectures img {
  width: 35%;
  height:auto;
  overflow: hidden;
  margin: 16px 16px;
}

.information-boxes div:first-child {
  margin-top: 16px;
}

.information div:nth-child(n+2) {
  border-top: none;
}

.information div:nth-child(n+3) {
  background-color: rgb(180, 180, 180);
}

.information-boxes {
  border-left: 1px solid rgb(180, 180, 180);
  padding-bottom: 32px;
}

.information-text {
  padding: 8px 16px;
}

.information-text h3, .information-text p {
  margin-bottom: 8px;
}

/* Start Learning - Courses Section */

.course-info h3 {
  padding: 16px;
  background: rgb(180, 180, 180);
  margin-bottom: 8px;
}

.courses {
  background-color: rgb(180, 180, 180);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 16px;
}

.course-info h3, .course-info {
  background-color: white;
}

.course-info p {
  padding: 0 16px 8px;
}

.course-info p:last-child {
  padding: 0 16px 24px;
}

.course-title {
  width: 350px;
  margin-right: 32px;
  margin-bottom: 24px;
}

.course-info {
  height: 160px;
}

.courses h2, .exhibition-featured h2 {
  text-align: center;
  width: 100%;
  padding-bottom: 16px;
}

/* Thesis Exhibit Section */

.exhibition-featured h2 {
  padding: 32px 0;
}

.recent-exhibits {
  display: block;
}

.exhibition-container {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  margin-bottom: 32px;
  border-bottom: rgb(240, 240, 240);
}

.exhibit-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  max-width: 423px;
  height: 168px;
}

.exhibit-card img {
  width: 35%;
  margin-right: 16px;
}

.exhibit-info {
  display: flex;
  flex-direction: column;
}

.exhibit-card:first-child {
  background: rgb(180, 180, 180);
}

.exhibit-vid {
  margin-right: 24px;
  width: 60%;
}

.exhibit-vid h3, .exhibit-vid p {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

/* Footer Section */

.page-bottom {
  font-size: 0.9rem;
  display: flex;
  border-top: 1px solid rgb(240, 240, 240);
  width: 100%;
  justify-content: space-between;
  padding: 16px 24px;
}

.page-bottom li, .page-bottom a {
  list-style: none;
  display: inline-block;
  color: black;
  margin-right: 24px;
}

/* Mobile Screen Section */

@media only screen and (max-width: 640px) {

.mobile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  }

.desktop {
  display: none;
  }

.information {
  display: none;
  }


.information-text {
  padding: 8px 16px;
}

.information-text h3, .information-text p {
  margin-bottom: 8px;
}
.start-here {
  padding: 32px 16px;
}
.course-title img {
  display: none;
}

.course-info p {
  display: none;
}

.course-info h3 {
  background-color: rgb(180, 180, 180);
  padding: 16px 24px;
  font-size: 2rem;
  align-items: center;
}

.course-title {
 display: flex;
}
.recent-exhibits, .exhibit-vid h3, .exhibit-vid p {
  display: none;
}

.exhibition-featured h2 {
  padding: 32px 0;
}
.courses img, .courses .course-info p {
  display: none;
}

}
